<%= turbo_frame_tag "first_turbo_frame" do %>
    <%= render "form", quote: @quote %>
<% end %>

<%= turbo_frame_tag "second_turbo_frame" do %>
    <h1><%= @quote.name %></h1>
<% end %>

<h2>testesteste</h2>